@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/DMSerifDisplay-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/DMSans-Medium.ttf') format('ttf');
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--primary-container)
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--badge-btn);
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}
}

